---
interface Props {
  href: string
}

const { href } = Astro.props
---

<a class="socialmedia" href={href}>
  <slot/>
</a>

<style>
  .socialmedia {
    color: #fff;
    margin-right: 20px;
  }
</style>